//--------------------------------------------------
// base mixins
//--------------------------------------------------
@mixin text-1 {
  @include responsive-styles(font-size, $header-font-size-mobile, $header-font-size-tablet, $header-font-size-laptop);
  font-weight: $bold;
  margin-top: 0;
  line-height: $header-line-height;
}

@mixin text-2 {
  @include responsive-styles(font-size, rem-calc(25), rem-calc(25), rem-calc(25)); 
  color: $header-font-color;
  font-family: $header-font;
  font-weight: $semi-bold;
  margin-top: 0;
  margin-bottom: $header-margin-bottom;
}

@mixin text-3 {
  @include responsive-styles(font-size, rem-calc(18), rem-calc(18), rem-calc(18));
  color: $body-font-color;
  font-family: $body-font;
}

@mixin text-4 {
  @include responsive-styles(font-size, rem-calc(16), rem-calc(16), rem-calc(16));
  font-weight: $semi-bold;
}

@mixin text-5 {
  @include responsive-styles(font-size, rem-calc(40), rem-calc(40), rem-calc(40));
  font-weight: $bold;
}

@mixin text-6 {
  @include responsive-styles(font-size, rem-calc(14), rem-calc(14), rem-calc(14));
}

@mixin text-7 {
  @include responsive-styles(font-size, rem-calc(20), rem-calc(20), rem-calc(20));
  color: $header-font-color;
  font-weight: $semi-bold;
}

//--------------------------------------------------
// mixins used in classes
//--------------------------------------------------
@mixin h1 {
  @include text-1;
  color: $header-font-color;
  text-align: center;
  margin-bottom: 0;
}

@mixin h1-home {
  @include text-1;
  color: $white;
  @include responsive-styles(font-size, $header-font-size-mobile, $header-font-size-tablet, rem-calc(80));
  line-height: 1.1;
  margin-bottom: rem-calc(22);
  text-align: left;
}

@mixin h2 {
  @include text-2;

  .bg--navy-dark & { color: $white; }
}

@mixin h3 {
  @include text-7;
  margin-top: 0;
  
  &.heading--doughnut-chart,
  .bg--navy-dark & { color: $white; }
}

@mixin h4 {
  @include text-3;
  font-weight: $semi-bold;
  margin-top: 0;
  margin-bottom: rem-calc(10);
}

@mixin text-a {
  color: inherit;
  font-weight: $semi-bold;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

@mixin text-chart {
  @include text-4;
  font-weight: $bold;
}

@mixin text-hero-home {
  @include text-2;
  color: $white;
}

@mixin text-large {
  @include text-5;
}

@mixin text-modal-title {
  @include text-2;
}

@mixin text-nav {
  @include text-3;
}

@mixin text-select {
  @include text-2;
}

@mixin text-select-option {
  @include text-3;
}

@mixin text-sdg-panel {
  @include text-3;
}

@mixin text-smallprint {
  @include text-6;
  font-style: italic;
}

@mixin text-tab-title {
  @include text-4;
}

@mixin text-tooltip {
  @include text-3;
}

@mixin text-map-download-option {
  @include text-3;
  font-weight: $semi-bold;
}

@mixin text-present-habitats-status {
  @include text-6;
  font-weight: $semi-bold;
  line-height: 1.1;
}

@mixin text-habitats-present-title {
  @include text-4;
}

@mixin text-footer-citation {
  font-size: rem-calc(16);
}

@mixin text-sdg-source {
  @include responsive-styles(font-size, 12px, 14px, 14px);
  font-style: italic;
  font-weight: $medium;
}

@mixin text-filter-title {
  @include text-6;
  font-weight: $semi-bold;
}

@mixin text-filter-description {
  @include responsive-styles(font-size, 12px, 12px, 12px);
}