@mixin bars ($theme) {
  @for $i from 1 through length($theme) {
    $colour: nth($theme, $i);

    &:nth-child(#{$i}) {
      background-color: $colour;

      .chart__percent {
        @if $i%2 != 0 { @include chart-tooltip('bottom', $colour); }
        @if $i%2 == 0 { @include chart-tooltip('top', $colour); }
      }
    }
  }
}

//--------------------------------------------------
// stacked row chart
//--------------------------------------------------
  &--row-stacked {
    margin-bottom: rem-calc(60);

    @include breakpoint($small) { margin-bottom: rem-calc(70); }

    .chart {
      &__chart {
        margin-top: rem-calc(54);
        width: 100%; height: rem-calc(32);

        @include breakpoint($small) {
          height: rem-calc(86);
        }
      }

        &__bar {
          margin-bottom: 0;
          height: 100%;

          position: relative;

          &.chart-theme--blue { @include bars($theme-gradient-blue); }
          &.chart-theme--green { @include bars($theme-gradient-green); }
          &.chart-theme--rainbow { @include bars($theme-gradient-rainbow); }
          &.chart-theme--habitats { @include bars($theme-gradient-habitats); }

          &:nth-child(even) {
            .chart__percent {
              bottom: unset;
              top: calc(100% + 14px);
            }
          }
        }

          &__percent {
            position: absolute;

            bottom: calc(100% + 14px);
            left: 50%;

            transform: translateX(-50%);
          }

      &__legend {
        margin-top: rem-calc(70);

        @include breakpoint($small) { margin-top: rem-calc(90); }
      }
    }
  }
