//--------------------------------------------------
// html elements
//--------------------------------------------------
* { 
  box-sizing: border-box;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $body-font-color;
  font-family: $body-font;
  font-size: $body-font-size;
  margin: 0;
}

h1 {
  font-size: rem-calc(48);
  font-weight: $normal;
  line-height: 1.2;
}

h2 {

}

h3 {
  color: $grey-dark;
  font-size: rem-calc(20);
  font-weight: $normal;
  margin-top: 0;
  padding-right: rem-calc(49);

  @include breakpoint($small) { font-size: rem-calc(40); }
}

h4 {
}

p {
  line-height: $body-line-height;
}

a {
  &:hover { text-decoration: none; }

  &.a--plain {
    color: inherit;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

ul {
}

li {  
}

blockquote {
}

sup {
  font-size: .7em;
}

//--------------------------------------------------
// site structure - reusable styles
//--------------------------------------------------
%container {
  margin: 0 auto;
  padding-right: rem-calc($gutter-small);
  padding-left: rem-calc($gutter-small);
  width: 100%;

  @include breakpoint($medium){ 
    padding-right: rem-calc($gutter-medium);
    padding-left: rem-calc($gutter-medium);
  }

  @include breakpoint($large){ 
    padding-right: rem-calc($gutter-large);
    padding-left: rem-calc($gutter-large);
  }
}

//--------------------------------------------------
// site structure
//--------------------------------------------------
.site-width { 
  @include breakpoint($medium){ width: $site-width; }
}

.gutter--left {
  padding-left: $gutter-small;
  @include breakpoint($medium) { padding-left: $gutter-medium; }
  @include breakpoint($large) { padding-left: $gutter-large; }
}

.gutter--right {
  padding-right: $gutter-small;
  @include breakpoint($medium) { padding-right: $gutter-medium; }
  @include breakpoint($large) { padding-right: $gutter-large; }
}

.gutters {
  @extend .gutter--left;
  @extend .gutter--right;
}

.container {
  @extend .site-width;
  @extend %container;

  &--small {
    @extend %container;    

    @include breakpoint($small) { width: 60%; }
    @include breakpoint($medium) { width: 40%; }
    @include breakpoint($large) { width: rem-calc(560); }
  }
}

//--------------------------------------------------
// page padding
//--------------------------------------------------
.page-padding--top {
  padding-top: $page-padding-top-small;
  @include breakpoint($medium) { padding-top: $page-padding-top-medium; }
  @include breakpoint($large) { padding-top: $page-padding-top-large; }
}

.page-padding--bottom {
  padding-bottom: $page-padding-bottom-small;
  @include breakpoint($medium) { padding-bottom: $page-padding-bottom-medium; }
  @include breakpoint($large) { padding-bottom: $page-padding-bottom-large; }
}

.page-padding {
  @extend .page-padding--top;
  @extend .page-padding--bottom;
}

//--------------------------------------------------
// section padding
//--------------------------------------------------
.section-padding--top {
  padding-top: $section-padding-top-small;
  @include breakpoint($medium) { padding-top: $section-padding-top-medium; }
  @include breakpoint($large) { padding-top: $section-padding-top-large; }
}

.section-padding--bottom {
  padding-bottom: $section-padding-bottom-small;
  @include breakpoint($medium) { padding-bottom: $section-padding-bottom-medium; }
  @include breakpoint($large) { padding-bottom: $section-padding-bottom-large; }
}

.section-padding {
  @extend .section-padding--top;
  @extend .section-padding--bottom;
}