//--------------------------------------------------
// flexbox
//--------------------------------------------------
.flex { display: flex; }
.flex-inline { display: inline-flex; }

.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-column { flex-direction: column; }
.flex-column-reverse { flex-direction: column-reverse; }

.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }

.flex-1 { flex: 1; } 

//--------------------------------------------------
// flex size
//--------------------------------------------------
.flex-grow { flex-grow: 1; }
.flex-no-grow { flex-grow: 0; }
.flex-shrink { flex-shirnk: 1; }
.flex-no-shrink { flex-shrink: 0; }

//--------------------------------------------------
// horizontal alignment
//--------------------------------------------------
.flex-h-start { justify-content: flex-start; }
.flex-h-center { justify-content: center; }
.flex-h-between { justify-content: space-between; }
.flex-h-around { justify-content: space-around; }

.flex-h-end { 
  justify-content: flex-end; 
  margin-left: auto;
}

//--------------------------------------------------
// horizontal alignment of self
//--------------------------------------------------
.flex-hs-start { justify-self: flex-start; }
.flex-hs-center { justify-self: center; }
.flex-hs-between { justify-self: space-between; }
.flex-hs-around { justify-self: space-around; }
.flex-hs-end { 
  justify-self: flex-end; 
  margin-left: auto;
}

//--------------------------------------------------
// vertical alignment
//--------------------------------------------------
.flex-v-start { align-items: flex-start; }
.flex-v-end { align-items: flex-end; }
.flex-v-center {align-items: center; }
.flex-v-baseline { align-items: baseline; }
.flex-v-stretch { align-items: stretch; }

//--------------------------------------------------
// vertical alignment of self
//--------------------------------------------------
.flex-vs-start { align-self: flex-start; }
.flex-vs-center {align-self: center; }
.flex-vs-baseline { align-self: baseline; }
.flex-vs-stretch { align-self: stretch; }

.flex-vs-end { 
  align-self: flex-end; 
  margin-top: auto;
}

//--------------------------------------------------
// vertical alignment of multiple items
//--------------------------------------------------
.flex-vm-start { align-content: flex-start; }
.flex-vm-end { align-content: flex-end; }
.flex-vm-center {align-content: center; }
.flex-vm-between { align-content: space-between; }
.flex-vm-around { align-content: space-around; }
.flex-vm-stretch { align-content: stretch; }

//--------------------------------------------------
// columns
//--------------------------------------------------
.flex-1-half { flex: 0 1 50%; }

.flex-1-third { flex: 0 1 33%; }
.flex-2-thirds { flex: 0 1 66%; }

.flex-1-quarter { flex: 0 1 25%; }
.flex-2-quarters { flex: 0 1 50%; }
.flex-3-quarters { flex: 0 1 75%; }

.flex-1-fith { flex: 0 1 20%; }
.flex-2-fiths { flex: 0 1 40%; }
.flex-3-fiths { flex: 0 1 60%; }
.flex-4-fiths { flex: 0 1 80%; }

.flex-1-sixth { flex: 0 1 16%; }
.flex-2-sixths { flex: 0 1 33%; }
.flex-3-sixths { flex: 0 1 50%; }
.flex-4-sixths { flex: 0 1 66%; }
.flex-5-sixths { flex: 0 1 83%; }

//--------------------------------------------------
// helpers
//--------------------------------------------------
.flex-center {
  @extend .flex;
  @extend .flex-h-center;
  @extend .flex-v-center;
}