//--------------------------------------------------
// variables
//--------------------------------------------------
// - colours
// - fonts
// - dimensions
// - breakpoins
// - padding
// - project specific
//
//--------------------------------------------------
// colours
//--------------------------------------------------
$white: #ffffff;
$grey-light: #f4f4f4;
$grey: #7f7f7f;
$grey-dark: #444444;
$grey-xdark: #202020;
$black: #000000;

$green: #71A32B;

$navy: #293039;
$navy-dark: #1F232A;
$navy-xdark: #12161B;
$purple: #BA41FF;

$theme-blue: #7AB6FF;
$theme-green: #3FD18B;
$theme-orange: #FF8A75;
$theme-pink: #F35F8D;
$theme-yellow: #FCDA68;

$primary: $theme-orange;
$secondary: $navy;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$font-roboto: 'Noto Sans', sans-serif;

$body-font: $font-roboto;
$body-font-color: $black;
$body-font-size: rem-calc(18);

$body-line-height: 1.2;

$light: 300;
$normal: 400;
$bold: 700;

$button-font-size-small: rem-calc(18);
$button-font-size-medium: rem-calc(18);

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc(1260);

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
$small: rem-calc(720);
$medium: rem-calc(960);
$large: $site-width;

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: rem-calc(15);
$gutter-medium: rem-calc(24);
$gutter-large: rem-calc(24);

$page-padding-top-small: rem-calc(14);
$page-padding-top-medium: rem-calc(26);
$page-padding-top-large: rem-calc(30);

$page-padding-bottom-small: rem-calc(32);
$page-padding-bottom-medium: rem-calc(60);
$page-padding-bottom-large: rem-calc(100);

$section-padding-top-small: rem-calc(20);
$section-padding-top-medium: rem-calc(50);
$section-padding-top-large: rem-calc(120);

$section-padding-bottom-small: rem-calc(30);
$section-padding-bottom-medium: rem-calc(60);
$section-padding-bottom-large: rem-calc(100);

//--------------------------------------------------
// style
//--------------------------------------------------
$radius-global: rem-calc(3);
$radius-button: rem-calc(26);

//--------------------------------------------------
// topbar
//--------------------------------------------------
$topbarHeightSmall: rem-calc(47);
$topbarHeightMedium: rem-calc(60);
$topbarHeightLarge: rem-calc(93);

//--------------------------------------------------
// project specific
//--------------------------------------------------
$names: ['blue', 'green', 'orange', 'pink', 'yellow'];
$colours: [$theme-blue, $theme-green, $theme-orange, $theme-pink, $theme-yellow];