//--------------------------------------------------
// chart mixins
//--------------------------------------------------
@mixin chart-content {
  @include breakpoint($medium) { 
    padding-right: rem-calc(49);
    width: 32%; 
  }
}

@mixin chart-label {
  font-size: rem-calc(14);

  @include breakpoint($small) { 
    font-size: rem-calc(18);
    width: rem-calc(134);
  }
}

@mixin bar-label {
  @include text-chart;
  // opacity: 0;

  &.animate { opacity: 1; }
}

@mixin chart-default {
  background-color: $grey-light;
}

@mixin chart-get-colours {
  @each $habitat in $habitats {
    &.theme--#{$habitat} { background-color: map-get($habitat_colours, $habitat); }
  }
}

//--------------------------------------------------
// chart types
//--------------------------------------------------
.chart {
  @import './charts/chart-doughnut.scss';
  @import './charts/chart-row.scss';
  @import './charts/chart-rows.scss';
}