//--------------------------------------------------
// settings
//--------------------------------------------------
$modal-button-mobile: 20px;
$modal-button-tablet: 40px;
$modal-button-laptop: 60px;

@mixin modal-button-sizing($mobile, $tablet, $laptop) {
  @include responsive-styles(width, $mobile, $tablet, $laptop);
  @include responsive-styles(height, $mobile, $tablet, $laptop);

  @include responsive-styles(top, calc(#{$mobile} * .25), calc(#{$tablet} * .25), calc(#{$laptop} * .25));
  @include responsive-styles(right, calc(#{$mobile} * .25), calc(#{$tablet} * .25), calc(#{$laptop} * .25));
}

$modal-padding-mobile: $modal-button-mobile * 2;
$modal-padding-tablet: $modal-button-tablet * 2;
$modal-padding-laptop: $modal-button-laptop;

//--------------------------------------------------
// classes
//--------------------------------------------------
.modal {
  @include flex-center;
  background-color: rgba($black, .1);

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-300;

  &--active { display: flex; }

  &__dialog {
    @include responsive-styles('font-size', 16px, 18px, 18px);
    background-color: $white;
    border: solid 1px $grey-dark;
    overflow-y: scroll;
    padding-top: $modal-padding-mobile;
    width: 70%; height: auto;
    max-width: calc(#{$site-width}*.7); max-height: calc(80%);

    position: relative;
  }

    &__content {
      @include text-6;
      padding: 0 $item-spacing-xlarge $item-spacing-large;
    }

      &__close {
        @include button--close;
        @include modal-button-sizing($modal-button-mobile, $modal-button-tablet, $modal-button-laptop);

        position: absolute;
      }

      &__title {
        @include text-modal-title;
      }
}
