//--------------------------------------------------
// settings
//--------------------------------------------------
$modal-button-mobile: rem-calc(40);
$modal-button-tablet: rem-calc(55);
$modal-button-laptop: rem-calc(70);

$modal-padding-mobile: $modal-button-mobile * 2;
$modal-padding-tablet: $modal-button-tablet - rem-calc(16);
$modal-padding-laptop: $modal-button-laptop - rem-calc(20);

//--------------------------------------------------
// link
//--------------------------------------------------

@mixin link {
  // To stop very long links from overflowing inner div of modal
  word-break: break-word;
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.modal {
  @include flex-center;
  background-color: rgba($black, .1);

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-300;

  &--active { display: flex; }

  &__dialog {
    @include responsive-styles('font-size', 16px, 18px, 18px);
    @include responsive-styles(padding-top,
      $modal-padding-mobile,
      $modal-padding-tablet,
      $modal-padding-laptop
    );
    background-color: $white;
    overflow-y: auto;
    width: 100%; height: 100%;
    
    position: relative;
    
    @include breakpoint($small) {
      border: $border-thin $grey-dark;
      width: 70%; height: auto;
      max-width: calc(#{$site-width}*.7); max-height: calc(80%);
    }
  }

    &__content {
      @include gutters;
      @include text-6;
      padding-bottom: $item-spacing-large;
    }

    &__link {
      @include link;
    }

      &__close {
        @include button--close;
        @include modal-button-sizing($modal-button-mobile, $modal-button-tablet, $modal-button-laptop);

        position: absolute;
      }

      &__title {
        @include text-modal-title;
        @include responsive-styles(margin-bottom,
         rem-calc(22),
         rem-calc(30),
         rem-calc(50)
        );
      }
}
