//--------------------------------------------------
// nav
//--------------------------------------------------
.nav-wrapper {
  height: rem-calc(74);
}

.nav-scrollable {
  @include breakpoint_down($medium) {
    overflow-x: scroll;

    display: flex;
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 2;
  }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.nav {
//--------------------------------------------------
// primary
//--------------------------------------------------
  &--primary {
    @include text-nav;

    &.nav {
      &__pane {
        background-color: $grey-light;
        padding-top: rem-calc(40);
        padding-bottom: rem-calc(50);
        width: 100%;
        
        display: none;    
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: $z-300;

        &.nav--active { display: block; }
      }

      &__trigger {
        position: relative;

        &.nav--active {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;

          &::after {
            background-color: inherit;
            content: '';
            width: 100%; height: rem-calc(20);

            display: block;
            position: absolute;
            top: 100%;
            left: 0;
          }
        }
      }
    }

    .nav {
      &__columns {
        @include flex;
      }

        &__column {
          width: 50%; 
        }

          &__a {
            width: 32%;
            
            display: inline-block;
          }
    }
  }
}