//--------------------------------------------------
// variables
//--------------------------------------------------
$select-padding-side: rem-calc(24);
$select-padding-top: rem-calc(16);;

//--------------------------------------------------
// classes
//--------------------------------------------------
.v-select {
  width: $select-width;

  &__toggle { 
    @include button--select; 
    padding: rem-calc(11) $select-padding-side;
  }
    
    &__dropdown-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  &__dropdown {
    @include ul-unstyled;
    background-color: $grey-xlight;
    border-top: solid 1px $grey;
    width: 100%;

    position: absolute;
  }

    &__option {
      margin-bottom: 0;
    }

      &__option-label {
        @include flex;
        @include flex-v-center;
        @include text-select-option;
        cursor: pointer;
        padding: $select-padding-top $select-padding-side;

        position: relative;

        &:hover {
          background-color: $green;
        }
      }
}

// @include custom_input_focus_default('.v-select__default-checkbox', '.v-select__checkbox');
// @include custom_input_focus_default('.v-select__default-radio', '.v-select__radio');