$option-close-width: rem-calc(10);

$select-padding-side: rem-calc(12);
$select-padding: rem-calc(5) $select-padding-side;

$search-icon-padding-right: 2 * $select-padding-side;
$search-icon-width: 0.4 * $select-height;
$drop-arrow-width: rem-calc(18);
$search-icons-width: $search-icon-padding-right + 2 * $select-padding-side + $search-icon-width + $drop-arrow-width;

$select-text-color: $black;

.v-select {
  width: $select-width;

  &__label {
  }
  
  &--disabled {
    opacity: 0.5;
  }

  &__selected-options {
    // @include ul--unstyled;
  }

    &__selected-option {
      margin: rem-calc(0 4 4 0);
      padding: rem-calc(2 6);

      &::after {
        content: '';
        background: image-url('icons/close.svg') no-repeat center;
        background-size: contain;
        margin-left: rem-calc(6);
        width: $option-close-width; height: $option-close-width;

        display: block;
      }

      &:hover {
        // border-color: $wcmc-blue;
      }
    }

  &__toggle {
    @include button--select;
    
    &--active {
      .drop-arrow {
        transform: rotate(180deg)
      }
    }
  }

  &__search {
    padding: 0;
  }

    &__dropdown-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__search-input {
      border: none;
      color: $select-text-color;
      font: inherit;
      margin: 0;
      padding-left: $select-padding-side;
      padding-right: $search-icons-width;
      width: 100%; height: 100%;

      &::-ms-clear {
        display: none;
      }
    }

    &__search-icons {
      @extend .flex-center;

      height: 100%;
      position: absolute;

      right: 0;
      top: 0;
    }

      &__search-icon {
        border: none;
        background: image-url('icons/search.svg') no-repeat center;
        background-size: 85%;
        font: inherit;
        margin-right: $search-icon-padding-right;
        margin-left: $select-padding-side;
        padding: 0;
        width: $search-icon-width; height: $search-icon-width;

        display: inline-block;

        position: relative;

        &--reset {
          background-image: image-url('icons/close.svg');
          background-size: 75%;
        }

        &::after {
          background-color: $grey;
          content: '';
          width: rem-calc(1); height: 0.8 * $select-height;

          display: inline-block;

          position: absolute;
          right: - $search-icon-padding-right / 2;
          top: - 0.2 * $select-height;
        }
      }
      
      .drop-arrow--margin-right {
        margin-right: $select-padding-side;
      }

  &__dropdown {
    border-top: none;
    padding: $select-padding;
  }

    &__option-label {
      @extend .flex;
      @extend .flex-v-center;

      position: relative;
    }

    &__radio {
      border-radius: 50%;
    }
}

// @include custom_input_focus_default('.v-select__default-checkbox', '.v-select__checkbox');
// @include custom_input_focus_default('.v-select__default-radio', '.v-select__radio');