//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin table-cell-basic {
  @include flex;
  @include flex-v-center;
  padding: rem-calc(0 12);
  width: 15%; height: rem-calc(66);
}

@mixin table-title {
  margin-left: rem-calc(12);
}

//--------------------------------------------------
// table
//--------------------------------------------------
.table {
  @include flex;
  border-collapse: collapse;
  font-weight: $semi-bold;
  margin-bottom: rem-calc(28);

  &__column {
    @include flex-grow;

    &:first-child {
      @include flex-no-shrink;
      width: 24%;
    }

    &:not(:first-child) {
      max-width: 20%;
      min-width: 15%;

      .table__cell { 
        &:not(:first-child) { 
          @include flex-h-center;
          border-left: solid 2px $grey-light;
        }
      }
    }

    
  }
    
    &__cell { 
      @include table-cell-basic; 
      width: 100%;
      
      &:nth-child(n+2):nth-child(-n+8) {
        border-top: solid 2px $grey-light;
        text-align: center;
      }

      &:last-child {
        background-color: $grey-light;
        height: rem-calc(37);
      }
    }

    &__icon {
      @include flex-no-shrink;
      width: rem-calc(40); height: rem-calc(40);
    }

    &__title {
      @include table-title;

      &--capitalized {
        @include table-title;
        
        text-transform: capitalize;
      }
    }
}