//--------------------------------------------------
// tab variables
//--------------------------------------------------
$icon-size-small: 60;
$icon-size-medium: 80;

$icon-margin-small: 14;
$icon-margin-medium: 20;

//--------------------------------------------------
// tabs
//--------------------------------------------------
.tabs {
}

//--------------------------------------------------
// tab
//--------------------------------------------------
.tab {
  &-active {
    
  }
  
  &__triggers {
    border-bottom: solid 1px $white;
    margin-bottom: rem-calc(20);

    @include breakpoint($medium) { margin-bottom: rem-calc(24); }
  }

    &__trigger {
      @include text-tab-title;
      cursor: pointer;
      margin-bottom: 0;
      text-align: center;
      width: rem-calc(216); line-height: 3.4em;

      position: relative;

      &.tab-active { 
        border-top: solid 1px $white;
        border-right: solid 1px $white;
        border-left: solid 1px $white;

        &:first-child {
          border-left: none;
        }

        &::after {
          background-color: $navy-dark;
          content: '';
          width: 100%; height: rem-calc(2);
      
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
        }
      }
    }

  &__tabs {
    
  }

    &__list {
      padding-left: 0;
      
      &--icons {
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }

      &__list-item {
        font-size: rem-calc(14);
        margin-bottom: rem-calc(14);
        width: 48%; 

        @include breakpoint($medium) { 
          font-size: rem-calc(16);
        }
      }

        &__content-icon {
          margin-right: rem-calc($icon-margin-small);
          width: rem-calc($icon-size-small); height: rem-calc($icon-size-small);

          transform: translateY(5px);
          
          @include breakpoint($small) { 
            margin-right: rem-calc($icon-margin-medium);
            width: rem-calc($icon-size-medium); height: rem-calc($icon-size-medium); 
          }
        }

        &__content-text {
          // hack for IE 11
          width: calc(100% - #{$icon-margin-small}px - #{$icon-size-small}px);
          
          @include breakpoint($small) { 
            width: calc(100% - #{$icon-margin-medium}px - #{$icon-size-medium}px);
          }
          // end hack
        }
}