//--------------------------------------------------
// topbar
//--------------------------------------------------
.topbar {
  &__content {
    @include flex;
    @include flex-v-center;
    @include flex-h-between;
    // height: rem-calc(80);
  }

    &__link {
      background-color: $navy-dark;
      padding: rem-calc(12 26);
    }

    &__nav-trigger {
      @include button--grey;
      @include flex;
      @include flex-v-center;

      margin-left: auto; //for ie11

      &.nav--active {
        &::after {
          background-color: $grey-light;
          content: '';
          width: 100%; height: 8px;

          position: absolute;
          left: 0;
          top: 100%;
        }
      }
    }
}