//--------------------------------------------------
// topbar
//--------------------------------------------------
.topbar {
  &--dark {
    background-color: $navy-dark;
    color: $white;
  }

  &__content {
    @include container--large;
    @include flex;
    @include flex-v-center;
    // height: rem-calc(80);
  }

  &__link {
    background-color: $navy-dark;
    margin-right: auto;
    padding: rem-calc(12 26);
  }

  &__nav {
    margin-left: auto;
  }
}
