$checkbox-width: rem-calc(20);
$radio-width: rem-calc(21);
$select-height: rem-calc(50);
$inputPaddingSide: rem-calc(10);
$list-item-margin-small: rem-calc(10);
$list-item-margin-medium: rem-calc(16);

@mixin flip-child-drop-arrow($class:"select__drop-arrow") {
  .#{$class} { transform:  rotate(180deg); }
}

%select {
  // @extend .h4;
  background-color: transparent;
  border: rem-calc(1) solid $grey-light;
  padding: 0 $inputPaddingSide;
  width: 100%; height: $select-height;

  &--hover {
    border-width: rem-calc(2);
    cursor: pointer;
  }

  &--hover-disabled {
    border-width: rem-calc(1);
    cursor: default;
  }
}

%hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: rem-calc(1);
  margin: - rem-calc(1);
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: rem-calc(1);
  opacity: 0;
  position: absolute;
}


.arrow-svg {
  background-image: image-url('icons/Drop-Arrow.svg');
  background-repeat: no-repeat;
  content: '';
  width: rem-calc(17); height: rem-calc(8);
}

.v-select {
  &:hover {
    cursor: pointer;
    .v-select__toggle {
      border-width: $border-regular;
    }
  }

  &--disabled {
    .v-select__selection,.v-select__dropdown-text {
      opacity: 0.5;
    }

    &:hover {
      cursor: default;
      .v-select__toggle {
        border-width: $border-thin;
      }
    }
  }

  &__label {
    cursor: inherit;
    margin-top: 0;
    margin-bottom: rem-calc(5);
  }

    // &__selection {
    //   @extend .h3;
    // }

  &__toggle {
    @extend %select;
    color: inherit;
    text-align: left;
    width: 100%; height: $select-height;

    &--active {
      @include flip-child-drop-arrow;
    }
  }

    &__dropdown-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    &__dropdown-wrapper {
      background-color: $white;
      box-shadow: $shadow-light;
      border: $border-thin rgba($grey-light, 0.5);
      color: $black;
      width: 100%;

      position: absolute;
      top: calc(100% + #{rem-calc(13)});
      left: 0;
      z-index: $z-200;

      &::before {
        background-color: $white;
        border-top: $border-thin rgba($grey-light, 0.5);
        border-left: $border-thin rgba($grey-light, 0.5);
        content: "";
        width: rem-calc(16); height: rem-calc(16);

        display: block;
        position: absolute;
        top: 0;
        left: 50%;

        transform: translate(0, -1px) translate(-50%, -50%)
          scale(1.5, 1) rotate(45deg);
      }
    }

      &__dropdown {
        list-style-type: none;
        margin: 0;
        overflow-y: scroll;
        max-height: rem-calc(300);
      }

        &__option {
          // @extend .h4;

          position: relative;

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            .v-select__radio { box-shadow: 0 0 0 2px $green-light; }
            .v-select__checkbox {
              border-width: $border-regular;
              padding: 0;
            }
          }
        }

//--------------------------------------------------
// Search styling
//--------------------------------------------------
  &--search {
    .v-select {

      &__search-input {
        border: $border-thin $grey-xxdark;
        border-radius: rem-calc(3);
        font-size: rem-calc(20);
        font-weight: $light;
        padding: rem-calc(10 20);
        width: 100%;

        &::placeholder {
          color: $body-font-color;
        }
      }

      &__search-icons {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
      }

      &__search-icon {
        border: none;
        background-size: 85%;
        font: inherit;
        margin: 0 rem-calc(12);
        padding: 0;
        width: rem-calc(20); height: rem-calc(20);

        display: inline-block;
        position: relative;

        &--reset {
          background-image: image-url('icons/Close.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 75%;
        }
      }

      &__dropdown {
        padding: 0;
      }

      &__option {
        padding-top: rem-calc(10);
        padding-right: rem-calc(20);
        padding-bottom: rem-calc(10);
        padding-left: rem-calc(20);

        transition: background-color .3s ease;

        &:hover {
          background-color: $grey-xlight;
        }

        &:last-child {
          border-bottom: none;
        }

        &.selected {
          .v-select__radio {
            background-color: $green-light;
          }
        }

        &.highlighted {
          .v-select__radio {
            box-shadow: 0 0 0 2px $green-light;
          }
        }
      }
    }

    &.active {
      .drop-arrow {
        transform: rotate(180deg)
      }

      .v-select {
        &__search-input {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}
