//--------------------------------------------------
// shared mixins
//--------------------------------------------------
@mixin button-basic {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;

  &:hover { text-decoration: none; }
}

// $button-text-mobile: 20px;
// $button-text-tablet: 25px;
$button-text-laptop: 18px;

@mixin button-font-size { 
  font-size: $button-text-laptop;
}

// $button-padding-mobile: 16px 24px;
// $button-padding-tablet: 16px 24px;
$button-padding-laptop: 11px 24px;

@mixin button-padding { 
  padding: $button-padding-laptop;
}

@mixin button-rounded {
  border-radius: $radius-button;
}

//--------------------------------------------------
// specific mixins
//--------------------------------------------------
@mixin button--grey {
  @include button-basic;
  @include button-font-size;
  @include button-padding;
  @include button-rounded;
  background-color: $grey-light;
  font-weight: $semi-bold;
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.button {
  &--burger {
    @include button--grey;
    @include flex;
    @include flex-v-center;
  }
}