//--------------------------------------------------
// variables
//--------------------------------------------------
// $button-padding-mobile: 16px 24px;
// $button-padding-tablet: 16px 24px;
$button-padding-laptop: 11px 24px;

// $button-text-mobile: 20px;
// $button-text-tablet: 25px;
$button-text-laptop: 18px;

$select-height: rem-calc(58);
$select-height-large: rem-calc(97);
$select-width: rem-calc(300);
$select-width-large: rem-calc(500);

//--------------------------------------------------
// shared mixins
//--------------------------------------------------
@mixin button-basic {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;

  &:hover { text-decoration: none; }
}

// $button-text-mobile: 20px;
// $button-text-tablet: 25px;
$button-text-small-laptop: 16px;
$button-text-laptop: 18px;

@mixin button-font-size-small {
  font-size: $button-text-small-laptop;
}

@mixin button-font-size {
  font-size: $button-text-laptop;
}

// $button-padding-mobile: 16px 24px;
// $button-padding-tablet: 16px 24px;
$button-padding-laptop: 11px 24px;
$button-padding-wide-laptop: 14px 45px;

@mixin button-outline {
  @include button-basic;
  @include button-font-size-small;
  @include button-padding-wide;
  @include button-rounded;
  background-color: $navy;
  border: $border-thin $blue-light;
  color: $white;
  font-weight: $semi-bold;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $white;
  }
}

@mixin button-padding {
  padding: $button-padding-laptop;
}

@mixin button-padding-wide {
  padding: $button-padding-wide-laptop;
}

@mixin button-rounded {
  border-radius: $radius-button;
}

@mixin modal-button-sizing($mobile, $tablet, $laptop) {
  @include responsive-styles(width, $mobile, $tablet, $laptop);
  @include responsive-styles(height, $mobile, $tablet, $laptop);

  @include responsive-styles(top,
    calc(#{$mobile} * .5),
    calc(#{$tablet} * .5),
    calc(#{$laptop} * .4)
  );

  @include responsive-styles(right,
    calc(#{$mobile} * .5),
    calc(#{$tablet} * .5),
    calc(#{$laptop} * .4)
  );
}

//--------------------------------------------------
// specific mixins
//--------------------------------------------------
@mixin button--burger {
  @include button-basic;
  @include icon-burger;
}

@mixin button--close {
  @include button-basic;
  @include flex;
  @include flex-center;
  background-color: $navy-dark;
  border-radius: 100%;
  width: rem-calc(40); height: rem-calc(40);

  &:hover { opacity: .9; }

  &:before {
    @include icon-close;
    background-size: 50%;
    content: '';
    width: 100%; height: 100%;
  }
}

@mixin button--close--on-navy {
  @include button--close;
  background-color: $navy-xdark;
  border: $border-thin $grey;
}

@mixin button-close-basic {
  @include button-basic;
  background-image: image-url('icons/cross.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

@mixin button--download {
  @include button-outline;

  &::before {
    @include icon-download;
    content: '';
    margin-right: rem-calc(7);

    display: block;
    flex-shrink: 0;
  }
}

@mixin button--citation {
  @include button-outline;

  &::before {
    @include icon-citation-white;
    content: '';
    margin-right: rem-calc(7);

    display: block;
    flex-shrink: 0;
  }
}

@mixin button--grey {
  @include button-basic;
  @include button-font-size;
  @include button-padding;
  @include button-rounded;
  background-color: $grey-light;
  font-weight: $semi-bold;
}

@mixin button--next {
  @include text-2;
  margin-bottom: 0;

  &::after {
    @include button-basic;
    @include icon-next;
    content: '';
    margin-left: rem-calc(20);
    width: rem-calc(56); height: rem-calc(56);
  }

  display: flex;
  align-items: center;
}

@mixin button--select {
  @include button-basic;
  @include text-select;
  @include flex;
  @include flex-v-center;
  @include flex-h-between;
  background-color: $grey-light;
  margin: 0;
  width: 100%; height: $select-height;

  &::after {
    @include icon-chevron-down;
    content: '';
  }

  &.active::after { transform: rotateZ(180deg); }
}

@mixin button--scroll-to-top {
  @include button-basic;
  @include icon-scroll-to-top;
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.button {
  &--citation {
    @include button--citation;
  }

  &--download {
    @include button--download;
  }

  &--radio-group-download {
    @include button--download;
    max-width: rem-calc(350);

    @include breakpoint($small) {
      width: rem-calc(350);
    }
  }

  &--next {
    @include button--next;
  }

  &--outline {
    @include button-outline;
  }
}
