//--------------------------------------------------
// variables
//--------------------------------------------------
$footer-hero-height-laptop: rem-calc(590);

//--------------------------------------------------
// classes
//--------------------------------------------------
.footer {
  @include overlay(rgba($navy-dark, 0.85));
  background: image_url('hero/purple-tube-sponge-min.png') center no-repeat;
  background-size: cover;
  color: $white;
  padding-top: rem-calc(25);

  display: block;

  &__row {
    &--top {
      @include container--large;
      @include flex;
      @include flex-h-between;

      margin-bottom: rem-calc(80);
    }

    &--bottom {
      background-color: $navy-dark;
      padding-top: rem-calc(10); 
      padding-bottom: rem-calc(10); 
    }
  }

  &__partner-logos {
    @include flex; 
    @include flex-wrap;
    @include flex-v-center;
  }

    &__partner-logo {
      @include flex;
      margin-right: rem-calc(32);
      opacity: .6;
      height: rem-calc(46); 

      &.logo--site {
        margin-right: 0;
        opacity: 1;
        width: rem-calc(133); height: rem-calc(46);
      }

      &--unepwcmc {
        @extend .footer__partner-logo;
        width: rem-calc(170);
      }
      &--geobon {
        @extend .footer__partner-logo;
        width: rem-calc(162);
      }
      &--proteus {
        @extend .footer__partner-logo;
        width: rem-calc(153);
      }
    }

  &__downloads {
    @include flex-no-shrink;
    width: 30%;
  }

  &__copyright {
    @include container--large;
    text-align: center;
  }
}