//--------------------------------------------------
// variables
//--------------------------------------------------
$footer-hero-height-laptop: rem-calc(590);

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin footer-partner-logo {
  opacity: .6;
  width: rem-calc(80); height: rem-calc(24);

  @include breakpoint($medium) {
    margin-right: rem-calc(32);
    width: rem-calc(100); height: rem-calc(46);
  }
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.footer {
  @include overlay(rgba($navy-dark, 0.85));
  background: image_url('hero/purple-tube-sponge-min.png') center no-repeat;
  background-size: cover;
  color: $white;
  padding-top: rem-calc(25);

  display: block;

  &__row {
    &--top {
      @include container--large;
    
      @include breakpoint($medium) {
        @include flex;
        @include flex-h-between;
        margin-bottom: rem-calc(80);
      }
    }

    &--bottom {
      background-color: $navy-dark;
      padding-top: rem-calc(10); 
      padding-bottom: rem-calc(10); 
    }
  }

  &__partner-logos {
    @include flex; 
    @include flex-wrap;
    @include flex-v-center;
    @include flex-h-between;

    @include breakpoint($small) {

    }
  }

    &__partner-logo {
      @include footer-partner-logo;

      &.logo--site {
        margin-right: 0;
        opacity: 1;
        width: rem-calc(133); height: rem-calc(24);

        @include breakpoint($medium) {
          width: rem-calc(139); height: rem-calc(54);
        }
      }
    }

    //   &--unepwcmc {
    //     @include footer-partner-logo;
    //     width: rem-calc(170);
    //   }
    //   &--geobon {
    //     @include footer-partner-logo;
    //     width: rem-calc(162);
    //   }
    //   &--proteus {
    //     @include footer-partner-logo;
    //     width: rem-calc(153);
    //   }
    // }
  
  &__site-link {
    margin-bottom: rem-calc(40);

    display: block;
  }

  &__downloads {
    display: flex;
    flex-direction: column;
  }

  &__download {
    @include button--download;
    margin-bottom: rem-calc(16);
  }

  &__copyright {
    @include container--large;
    font-style: italic;
    text-align: center;
  }
}