.header {
//--------------------------------------------------
// home
//--------------------------------------------------
  &--home {
    background-color: $grey;
    background-image: image_url('hero/hero-home.png');
    background-size: cover;
    background-position: center;
    color: $white;
    padding: rem-calc(40 0 50 0);

    .header {
      &__content {
        
      }

        &__intro {
          font-size: rem-calc(25);
        }
    }
  }

//--------------------------------------------------
// basic
//--------------------------------------------------
  &--basic {
    color: $body-font-color;
    padding: rem-calc(40 0 50 0);

    &__content {
      
    }

      &__intro {
        
      }
  }
}