.header {
//--------------------------------------------------
// home
//--------------------------------------------------
  &--home {
    background-color: $grey;
    background-image: image_url('hero/hero-home.png');
    background-size: cover;
    background-position: center;
    color: $white;
    z-index: $z-300;

    .header {
      &__h1 {
        @include h1-home;
        width: 86%;
      }

      &__content {
        @include container--large;
        padding-top: rem-calc(85);
        padding-bottom: rem-calc(134);
      }

        &__intro {
          @include text-hero-home;
          width: 50%;
        }
    }
  }

//--------------------------------------------------
// country
//--------------------------------------------------
  &--country {
    color: $body-font-color;
    height: rem-calc(250);

    .header {
      &__content {
        @include flex;
        @include flex-center;
        height: 100%;
      }

        &__icon {
          @include box-shadow-grey;
          
          border-radius: 100%;
          margin-right: rem-calc(20);
          width: rem-calc(80); height: rem-calc(80);
        }

    }
  }
}