//--------------------------------------------------
// smallprint
//--------------------------------------------------
.smallprint {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($medium) { flex-wrap: nowrap; }

  &__citations {
    margin: 0 0 rem-calc(20) 0;
    width: 100%;

    @include breakpoint($medium) { 
      margin: 0 rem-calc(30) 0 0;
      width: 33%; 
    }
  }

  &__disclaimer {
    width: 100%;

    @include breakpoint($medium) { width: 66%; }
  }
}