&--habitats-present {
  @include wrapped-cards;
  margin-bottom: rem-calc(20);

  .card {
    @include wrapped-card(1,3,5);
    background: $white;
    padding: rem-calc(0 13);
    
    @include breakpoint($small) {
      padding: rem-calc(0 16);
      height: rem-calc(272);
    }

    &--present {
      border: solid 1px $green;

      .card__status-ribbon { @include icon-ribbon-present; }
      .card__status-icon { @include icon-present; }
    }

    &--absent {
      background-color: $grey-xlight;

      .card__status-ribbon { @include icon-ribbon-absent; }
      .card__status-icon { @include icon-absent; }
    }

    &--unknown {
      border: solid 1px $grey-dark;

      .card__status-ribbon { @include icon-ribbon-unknown; }
      .card__status-icon { @include icon-unknown; }
    }

      &__status {
        @include flex;
        @include flex-v-center;
        margin-bottom: rem-calc(22);
      }

        &__status-title {
          @include text-present-habitats-status;
          margin-left: rem-calc(12);

          display: block;
        }

      &__content {
        @include flex;
        @include flex-column;
        @include flex-v-center;
      }

        &__habitat {
          @include flex;
          @include flex-v-center;
          margin-top: rem-calc(22);
          margin-right: auto;
        }

          &__habitat-title {
            @include text-habitats-present-title;
            margin-right: rem-calc(4);

            @include breakpoint($small) {
              margin-right: rem-calc(12);
            }
          }
  }
}
