//--------------------------------------------------
// nav mixins
//--------------------------------------------------
@mixin nav-colours($index) {
  $name: nth($names, $index);
  $colour: nth($colours, $index);

  &.theme--#{$name} {
    color: $colour;
    border-color: $colour;
  }
}

//--------------------------------------------------
// nav
//--------------------------------------------------
.nav {
  height: rem-calc(74);

  &__a {
    color: $white;
    border: solid 1px $navy;
    border-radius: $radius-button;
    font-size: rem-calc(24);
    font-weight: $bold;
    padding: rem-calc(8 20);
    text-decoration: none;

    &.active {
      @for $i from 1 through length($names) {
        @include nav-colours($i);
      }
    }
  }
}