//--------------------------------------------------
// tabs
//--------------------------------------------------
.tabs {
}

//--------------------------------------------------
// tab
//--------------------------------------------------
.tab {
  &-active {
    @for $i from 1 through length($names){
      @include theme_text($i);
    }
  }
  
  &__triggers {
    margin-bottom: rem-calc(16);

    @include breakpoint($medium) { margin-bottom: rem-calc(24); }
  }

    &__trigger {
      border: solid 1px transparent;
      border-radius: $radius-button;
      cursor: pointer;
      font-size: rem-calc(16);
      font-weight: $bold;
      padding: rem-calc(5 14);

      @include breakpoint($medium) { font-size: rem-calc(18); }
    }

  &__tabs {
    
  }

    &__content {
      @include breakpoint($small) {
        justify-content: space-between;
        flex-wrap: wrap;

        display: flex;
      }
    }

      &__content-item {
        @include breakpoint($medium) { width: 48%; }
      }
}