<div class="section-padding">
  <h1>We're sorry, but something went wrong.</h1>
</div>
<div class="section-padding">
  <p>If you are the application owner check the logs for more information.</p>
</div>
