<div class="section-padding">
  <h1><%= t('global.errors.422_title'); %></h1>
  <h2><%= t('global.errors.422_message'); %></h2>
</div>
<div class="section-padding">
  <p><%= t('global.errors.check_logs'); %></p>
</div>
