<section class="section-padding">
  <div class="container">
    <div class="h2-wrapper flex flex-v-center">
      <h2><%= t('countries.shared.example_species.title') %></h2>
      <v-select id="example-species" :options="<%= @example_species_select %>"></v-select>
    </div>

    <example-species></example-species>
  </div>
</section>