<section class="section-padding">
  <div class="container">
    <div class="h2-wrapper flex flex-v-center">
      <h2><%= t('countries.shared.habitat_change.title') %></h2>
      <modal-trigger id="citation" :modal-content="<%= modal_content %>" class="icon--citation margin-space-left"></modal-trigger>
    </div>
    <chart-rows :rows="<%= @habitat_change %>"></chart-rows>
  </div>
</section>