<section class="section-padding bg--navy-dark white">
  <div class="container">
    <h2 class="flex flex-v-center">
      <span class="white"><%= t('countries.shared.habitat_condition.title') %></span>
      <modal-trigger id="citation" :modal-content="{ content: '<%= t('countries.shared.habitat_condition.citation'); %>' }" class="icon--citation margin-space-left"></modal-trigger>
    </h2>

    <% t('countries.shared.habitat_condition.text').each do |p| %>
      <p class="text-body"><%= p %></p>
    <% end %>
  </div>
</section>