<section class="container section-padding--bottom">
  <v-map-interactive 
    iso3="<%= iso3 %>" 
    :has-download-button="true" 
    :datasets="<%= datasets.to_json %>"
  ></v-map-interactive>
  <p class="text--smallprint">
    <%= t('shared.map_disclaimer') %>
  </p>
</section>