<section class="container section-padding--top">
  <v-map-interactive
    iso3="<%= iso3 %>"
    id="map-target"
    :has-download-button="true"
    :datasets="<%= datasets.to_json %>"
    :custom-bounding-box="<%= @country.bounding_box.to_json %>"
  ></v-map-interactive>
  <p class="text--smallprint">
    <%= t('global.map_disclaimer') %>
  </p>
</section>
