<section class="section-padding bg--navy-dark white">
  <div class="container">
    <div class="pagination">
      <%= flag %>
      <%= link_to t('countries.shared.other.next'), page_url, title: "View page for ${country_name}", class: 'pagination__next button--next' %>
    </div>
  </div>
</div>