$content-page-pp-logo-height: rem-calc(50);
$content-page-redlist-logo-height: rem-calc(80);

@mixin content-page-logo {
  margin-bottom: rem-calc(20);

  &:first-child {
    @include breakpoint($small) {
      margin-right: rem-calc(30);
      margin-bottom: 0;
    }
  }
}

.content-page {
  h1 {
    @include h1-content-page;
  }

  h2 {
    @include h2-content-page;
    margin: 1.2em 0 0.4em;
  }
  
  &__logos {
    @include flex;
    @include flex-center;
    @include flex-column;
    margin-top: rem-calc(20);

    @include breakpoint($small) {
      @include flex-row;
    }
  }

  &__logo {
    &--redlist {
      @include content-page-logo;
      width: $content-page-redlist-logo-height;
      height: $content-page-redlist-logo-height;
    }

    &--protected-planet {
      @include content-page-logo;
      width: 410 / 60 * $content-page-pp-logo-height; 
      height: $content-page-pp-logo-height;
    }
  }
}