<%= render partial: 'global/topbar', locals: { dark: true } %>

<main class="container--small page-padding">
  <h1 class="about__title">
    <%= t('about.title') %>
  </h1>

  <% t('about.paragraphs').each do |p| %>
    <p><%= p.html_safe %></p>
  <% end %>
</main>