<section id="<%= id %>" class="container section-padding--bottom">
  <h2><%= t('home.habitat_change.title'); %></h2>

  <% t('home.habitat_change.text_1').each do |p| %>
    <p><%= p %></p>
  <% end %>

  <% t('home.habitat_change.text_2').each do |p| %>
    <p class="italic"><%= p %></p>
  <% end %>
</section>