//--------------------------------------------------
// footer
//--------------------------------------------------
.footer {
  @include breakpoint_down($small) {
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(20);
  }

  @include breakpoint($small) {
    align-items: center;
    justify-content: space-between;
    height: rem-calc(90);

    display: flex;
  }

  @include breakpoint($medium) { height: rem-calc(77); }

  &__partner-logos {
    
  }

    &__partner-logo {
      @extend .flex;
      opacity: .5;
      margin: rem-calc(8 10);
      width: rem-calc(80); max-height: rem-calc(22);

      @include breakpoint($small) { 
        margin: rem-calc(0 0 0 18);
        width: rem-calc(100); max-height: rem-calc(28); 
      }

      @include breakpoint($medium) { 
        margin-left: rem-calc(22);
        width: rem-calc(110); max-height: rem-calc(36); 
      }

      &.logo--site {
        margin: 0 auto rem-calc(20) auto;

        @include breakpoint($small) { 
          margin: 0; 
          width: rem-calc(100); max-height: rem-calc(28); 
        }

        @include breakpoint($medium) { width: rem-calc(110); max-height: rem-calc(36); }
      }
    }
}