//--------------------------------------------------
// header
//--------------------------------------------------
.header {
  background-color: $grey;
  background-image: image_url('hero.png');
  background-size: cover;
  background-position: center;
  color: $white;
  padding: rem-calc(40 0 50 0);
  min-height: 100vh;

  position: relative;

  @include breakpoint($small) {
    align-items: center;
    
    display: flex;
  }

  &__content {
    @include breakpoint($small) { padding: rem-calc(0 0 30 0); }
  }

    &__logo {
      margin-bottom: rem-calc(40);

      @include breakpoint($small) { margin-bottom: rem-calc(60); }
    }

    &__intro {
      line-height: 1.6;
    }

  &__icon {
    display: none;

    @include breakpoint($small) {
      display: block;
      position: absolute;
      bottom: rem-calc(40);
    }
  }
}