.header {
//--------------------------------------------------
// home
//--------------------------------------------------
  &--home {
    background-color: $grey;
    background-image: image_url('hero.png');
    background-size: cover;
    background-position: center;
    color: $white;
    padding: rem-calc(40 0 50 0);

    &__content {
      
    }

      &__intro {
        
      }
  }

//--------------------------------------------------
// basic
//--------------------------------------------------
  &--home {
    color: $body-font-color;
    padding: rem-calc(40 0 50 0);

    &__content {
      
    }

      &__intro {
        
      }
  }
}