<section class="section-padding bg--navy white">
  <div class="container">
    <h3 class="white">Commitments and pledges</h3>

    <tabs>
      <% @commitments.each do |commitment| %>
        <tab id="<%= commitment['title'].downcase.delete(' ') %>" title="<%= commitment['title'] %>" class="tab__content">
          <% commitment['list'].each do |item| %>
            <div class="tab__content-item">
              <p><%= item['text'].html_safe %></p>
            </div>
          <% end %>
        </tab>
      <% end %>
    </tabs>
  </div>
</section>