<section class="bg--grey-light section-padding">
  <div class="container">
    <div class="chart--column">
      <h3 class="chart__title">Top five countries and territories with the greatest coverage of <%= @habitat.title.downcase %></h3>

      <div class="chart__scrollable">
        <div class="chart__chart center flex flex-h-between">
          <% @chart_greatest_coverage.each do |item| %>
            <div class="chart__item">
              <div class="chart__bar">
                <span class="chart__bar-label"><%= item[:value] %>km<sup>2</sup></span>
                <span class="chart__colour" style="height:<%= item[:percent] %>%;"></span>
              </div>
              <p class="chart__label bold"><%= item[:label] %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
