<header class="header--basic">
  <div class="header__content">
    
    <% if I18n.exists?(`country.#{yml_key}.image_flag`) %>
      <%= image_tag t(`country.#{yml_key}.image_flag`), alt: '', class: 'image--flag' %>
    <% end %>

    <h1><%= t(`country.#{yml_key}.title`) %></h1>
  </div>
</header>
