<header class="header">
  <div class="container--small">
    <img src="" alt="Ocean+ Habitats logo" class="logo--site margin-center">
    <h1><%= @global['title'] %></h1>
    <div>
      <% @global['tagline'].each do |line| %>
        <p><%= line['p'] %></p>
      <% end %>
    </div>
    <i class="header__icon icon--scroll absolute-center">scroll icon</i>
  </div>
</header>
