<%= render partial: 'global/topbar.html.erb', locals: { dark: true } %>

<%= render partial: '/countries/partials/nav-tertiary',
  locals: {
    nav_tertiary: nav_tertiary_countries
  }
%>

<header class="header--country bg--grey-xlight">
  <div class="header__content">
    <%= if_country_get_flag(@iso3) %>

    <h1><%= @name %></h1>
  </div>
</header>
