<%= render 'global/topbar.html.erb' %>

<header class="header--home bg-image-overlay--white">
  <div class="header__content container">
    <h1 class="header__h1"><%= t('home.general.title') %></h1>
    <p class="header__intro"><%= t('home.general.description') %></p>
    <p><%= link_to '<button type="button">Download Stats</button>'.html_safe, download_stats_path %></p>
  </div>
</header>
