<header class="header--home bg-image-overlay--dark">
  <%= render 'global/topbar.html.erb' %>
  
  <div class="header__content">
    <h1 class="header__h1"><%= t('home.general.title') %></h1>
    <p class="header__intro"><%= t('home.general.description') %></p>
  </div>
</header>