<%= render partial: 'global/topbar.html.erb', locals: { dark: true } %>

<header class="header--country">
  <div class="header__content">
    <%= if_country_get_flag @yml_key %>

    <h1><%= t("countries.#{@yml_key}.title") %></h1>
  </div>
</header>
