<%= render 'global/topbar.html.erb' %>

<header class="header--country">
  <div class="header__content">
    <% if country_flag_exists? @yml_key %>
      <%= image_tag t("countries.#{@yml_key}.image_flag"), alt: '', class: 'header__icon' %>
    <% end %>

    <h1><%= t("countries.#{@yml_key}.title") %></h1>
  </div>
</header>
