<title>Ocean+ Habitats</title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>