<header class="header--home bg-image-overlay--white">
  <div class="header__content container">
    <h1 class="header__h1"><%= t('home.title') %></h1>
    <p class="header__intro"><%= t('home.description') %></p>
  </div>
</header>
