<header class="header bg-overlay">
  <div class="header__content container--small">
    <%= image_tag 'logos/logo-ocean-plus-habitats.svg', alt: 'Ocean+ Habitats logo', class: 'header__logo logo--site margin-center' %>
    <h1><%= @global['title'] %></h1>
    <div>
      <% @global['tagline'].each_with_index do |p, i| %>
        <p <% if i == 0 %>class="bold"<% end %>><%= p.html_safe %></p>
      <% end %>
    </div>
    <i class="header__icon icon--scroll absolute-center"></i>
  </div>
</header>
