<sticky-bar class="sticky-bar sm-trigger-sticky">
  <div class="sticky-bar__target sm-target-sticky bg--navy-dark">
    <div class="sticky-bar__content container">
      <nav-scroll-to :nav="<%= nav_tertiary %>" class="nav--tertiary"></nav-scroll-to>
    </div>
  </div>
</sticky-bar>