<section class="section-padding sm-trigger-row">
  <div class="container">
    <div class="chart--row">
      <div class="chart__content">
        <h3>Top five countries and territories with habitat area covered by a protected area</h3>

        <p><%= @data['top_protected_description'] %></p>
      </div>
      
      <div class="chart__chart">
        <% @chart_protected_areas.each do |item| %>
          <div class="chart__item">
            <p class="chart__label bold"><%= item[:label] %></p>
            <div class="chart__bar sm-target-row">
              <span class="chart__bar-label sm-target-child-row"><%= item[:percent] %>%</span>
              <span class="chart__colour sm-target-child-row" style="width:<%= item[:percent] %>%;"></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
