<div class="topbar">
  <div class="topbar__content container">
    <%= link_to root_path, title: 'Visit the Ocean+ Habitats home page' do %>
      <%= image_tag 'logos/logo-ocean-plus-habitats.svg', class: 'logo--site', alt: 'The logo for Ocean+ Habitats' %>
    <% end %>

    <nav>
      
    </nav>
  </div> 
</div>