@import './variables';

//--------------------------------------------------
// classes
//--------------------------------------------------
.default-checkbox {
  @include hidden-input;
}

.custom-checkbox {
  @include flex-no-shrink;
  @include flex-h-end;
  background: image-url('icons/hide-view.svg') no-repeat center;
  background-size: 100%;
  opacity: 0.5;
  width: $checkbox-size; height: $checkbox-size;

  transition: ease-in-out 0.15s;
}

@include custom_input_checked('.default-checkbox', '.custom-checkbox') {
  background-image: image-url('icons/view.svg');
}

@include custom_input_focus_default('.default-radio-button', '.custom-radio');