$border: $border-thin $grey-light;
$radio-size: rem-calc(25);

//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin radio-button-basic($bg-color: $grey) {
  border: $border;
  border-radius: 100%;

  display: block;
}

//--------------------------------------------------
// classes
//--------------------------------------------------
.default-radio-button {
  @include hidden-input;
}

.custom-radio {
  @include flex-no-shrink;
  @include radio-button-basic;
  background-color: transparent;
  margin-right: rem-calc(10);
  width: $radio-size; height: $radio-size;

  transition: ease-in-out 0.15s;
}

@for $i from 1 through length($habitats) {
  $habitat: nth($habitats, $i);
  $colour: map-get($habitat_colours, $habitat);
  
  @include custom_input_checked('.default-radio-button', '.custom-radio') {
    &--#{$habitat} {
      background-color: $colour;
    }
  }
}

@include custom_input_focus_default('.default-radio-button', '.custom-radio');