$pane-width-laptop: 340px;
$pane-width-desktop: 455px;
$checkbox-size: rem-calc(28);
$key-size: rem-calc(22);
$key-size-outer: rem-calc(26);
$key-size-inner: rem-calc(16);
$checkbox-margin: rem-calc(10);
$key-margin: rem-calc(10);

$border: $border-thin $grey-light;
$border-dark: $border-thin $navy-dark;
$background-colour: $navy-dark;

$map-height-eez-tablet: 80%;
$map-height-eez-laptop: 86%;
