$pane-width-laptop: 340px;
$pane-width-desktop: 455px;
$checkbox-size: rem-calc(28);
$key-size: rem-calc(25);
$checkbox-margin: rem-calc(10);
$key-margin: rem-calc(10);

$border: $border-thin $grey-light;
$background-colour: $navy;