<!DOCTYPE html>
<html>
  <head>
    <%= render '/global/head' %>
  </head>

  <body>
    <div id="v-app" v-cloak>
      <%= yield %>
      
      <%= render '/global/footer' %>
    </div>
  </body>
</html>
