<!DOCTYPE html>
<html>
  <head>
    <%= render '/global/head' %>
  </head>

  <body>
    <div id="v-app" v-cloak>
      <%= render '/global/header' %>
      
      <habitat source="/" :nav="<%= @nav %>"></habitat>

      <%= render '/global/footer' %>
    </div>
  </body>
</html>
