<!DOCTYPE html>
<html>
  <head>
    <%= render '/global/head' %>
  </head>

  <body>
    <div id="v-app" v-cloak>
      <%= yield %>
      
      <%= render '/global/footer' %>

      <scroll-to-top></scroll-to-top>
      <modal id="citation"></modal>
    </div>
  </body>
</html>
